openapi: 3.0.3
info:
  title: HeaLoop.org Health Insurance Analysis API
  description: |
    RESTful API for the HeaLoop.org health insurance analysis platform.
    Provides endpoints for user management, household configuration, insurance plan search,
    analysis sessions, subsidy calculations, and results retrieval.
  version: 1.0.0
  contact:
    name: HeaLoop API Support
    email: api@healoop.org
  license:
    name: Proprietary
    
servers:
  - url: https://api.healoop.org/v1
    description: Production server
  - url: https://api-staging.healoop.org/v1
    description: Staging server
  - url: http://localhost:3000/api/v1
    description: Local development server

tags:
  - name: Authentication
    description: User authentication and authorization
  - name: Users
    description: User profile management
  - name: Households
    description: Household configuration and management
  - name: Insurance Plans
    description: Insurance plan search and retrieval
  - name: Analysis
    description: Coverage analysis workflow
  - name: Subsidies
    description: Subsidy calculations and eligibility
  - name: Government Programs
    description: Medicaid, Medicare, CHIP information
  - name: Learning Center
    description: Educational content and resources
  - name: Admin
    description: Administrative endpoints (staff only)

paths:
  /auth/register:
    post:
      tags: [Authentication]
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  format: password
                  minLength: 8
                firstName:
                  type: string
                  example: John
                lastName:
                  type: string
                  example: Doe
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Email already exists

  /auth/login:
    post:
      tags: [Authentication]
      summary: Authenticate user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /users/me:
    get:
      tags: [Users]
      summary: Get current user profile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User profile retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
    
    put:
      tags: [Users]
      summary: Update current user profile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserProfileUpdate'
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /households:
    get:
      tags: [Households]
      summary: List user's households
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Households retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      households:
                        type: array
                        items:
                          $ref: '#/components/schemas/Household'
    
    post:
      tags: [Households]
      summary: Create a new household
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateHouseholdRequest'
      responses:
        '201':
          description: Household created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /households/{householdId}:
    get:
      tags: [Households]
      summary: Get household details
      security:
        - bearerAuth: []
      parameters:
        - name: householdId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Household retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /plans:
    get:
      tags: [Insurance Plans]
      summary: Search insurance plans
      security:
        - bearerAuth: []
      parameters:
        - name: state
          in: query
          schema:
            type: string
            pattern: '^[A-Z]{2}$'
          example: CA
        - name: zipCode
          in: query
          schema:
            type: string
            pattern: '^[0-9]{5}$'
        - name: metalLevel
          in: query
          schema:
            type: array
            items:
              type: string
              enum: [Bronze, Silver, Gold, Platinum, Catastrophic]
        - name: maxPremium
          in: query
          schema:
            type: number
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: perPage
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
      responses:
        '200':
          description: Plans retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      plans:
                        type: array
                        items:
                          $ref: '#/components/schemas/InsurancePlan'
                      total:
                        type: integer
                  metadata:
                    $ref: '#/components/schemas/PaginationMetadata'

  /plans/{planId}:
    get:
      tags: [Insurance Plans]
      summary: Get plan details
      security:
        - bearerAuth: []
      parameters:
        - name: planId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Plan retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /analysis/sessions:
    post:
      tags: [Analysis]
      summary: Start a new analysis session
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [householdId]
              properties:
                householdId:
                  type: string
                  format: uuid
      responses:
        '201':
          description: Session started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /analysis/sessions/{sessionId}:
    get:
      tags: [Analysis]
      summary: Get analysis session
      security:
        - bearerAuth: []
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Session retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
    
    put:
      tags: [Analysis]
      summary: Update analysis session
      security:
        - bearerAuth: []
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                currentStep:
                  type: integer
                sessionData:
                  type: object
      responses:
        '200':
          description: Session updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /analysis/sessions/{sessionId}/complete:
    post:
      tags: [Analysis]
      summary: Complete analysis and generate results
      security:
        - bearerAuth: []
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Analysis completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /subsidies/calculate:
    post:
      tags: [Subsidies]
      summary: Calculate subsidy eligibility
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [householdId]
              properties:
                householdId:
                  type: string
                  format: uuid
                taxYear:
                  type: integer
      responses:
        '200':
          description: Subsidy calculated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'

  /health:
    get:
      tags: [System]
      summary: Health check
      responses:
        '200':
          description: System is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [healthy, degraded, unhealthy]
                  timestamp:
                    type: string
                    format: date-time
                  version:
                    type: string
                  services:
                    type: object
                    properties:
                      database:
                        type: string
                        enum: [up, down]
                      cache:
                        type: string
                        enum: [up, down]
                      rulesEngine:
                        type: string
                        enum: [up, down]

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    ApiResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
        error:
          $ref: '#/components/schemas/ApiError'
        metadata:
          type: object

    ApiError:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: object
        field:
          type: string

    AuthResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            user:
              $ref: '#/components/schemas/User'
            token:
              type: string
            refreshToken:
              type: string

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        firstName:
          type: string
        lastName:
          type: string
        emailVerified:
          type: boolean
        status:
          type: string
          enum: [active, suspended, deleted]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    UserProfileUpdate:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        dateOfBirth:
          type: string
          format: date
        zipCode:
          type: string
        state:
          type: string
        preferredLanguage:
          type: string

    Household:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        name:
          type: string
        size:
          type: integer
        state:
          type: string
        zipCode:
          type: string
        isPrimary:
          type: boolean
        createdAt:
          type: string
          format: date-time

    CreateHouseholdRequest:
      type: object
      required: [size, state]
      properties:
        name:
          type: string
        size:
          type: integer
          minimum: 1
        zipCode:
          type: string
        state:
          type: string
          pattern: '^[A-Z]{2}$'
        county:
          type: string
        isPrimary:
          type: boolean

    InsurancePlan:
      type: object
      properties:
        id:
          type: string
          format: uuid
        planId:
          type: string
        planName:
          type: string
        planType:
          type: string
          enum: [HMO, PPO, EPO, POS]
        metalLevel:
          type: string
          enum: [Bronze, Silver, Gold, Platinum, Catastrophic]
        premiumAdult:
          type: number
        premiumChild:
          type: number
        deductibleIndividual:
          type: number
        deductibleFamily:
          type: number
        oopMaxIndividual:
          type: number
        oopMaxFamily:
          type: number

    PaginationMetadata:
      type: object
      properties:
        page:
          type: integer
        perPage:
          type: integer
        total:
          type: integer
        hasMore:
          type: boolean

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponse'
    
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponse'
    
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiResponse'

security:
  - bearerAuth: []
